body, html {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 16px;
  background: #f8faeb;
  color: #3a3a3a;
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	padding-bottom: 5px;
	color: #ffd57a;
	line-height: 1em;
	font-weight: normal;
	margin: 0 0 10px;
}
h1 {
	font-family: 'Lobster', cursive;
	text-transform: capitalize;
	color: #ffd57a;
	margin-bottom: 65px;
}
h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	color: #ffd57a;
	text-transform: uppercase;
}
h3 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #fff;
}

h1 { font-size: 45px;}
h2 { font-size: 36px;}
h3 { font-size: 20px;}
h4 { font-size: 18px;}
h5 { font-size: 16px;}
h6 { font-size: 14px;}

p {
	
	font-weight: normal;
}

a {color: #1b727b}
a:hover {color: #416467; text-decoration: none;}
a:active {color: #416467;}

.form-horizontal:after,
.form-horizontal:before {
	content: "";
	display: table;
}
.form-horizontal:after,
.form-horizontal:before
 {
	clear: both;
}

/*--------------------------------------
     Background image
----------------------------------------*/
.attr
{
position: relative;
top: 7em;
}

.bg {
	overflow-y:scroll;
	background: url(http://res.cloudinary.com/dss0nvwmi/image/upload/fl_progressive:steep/v1490978123/Baden-Baden_10-2015_img63_Casino_dhcn1d.jpg)  no-repeat center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    height: 100%;
	position: relative;
	text-align:center;
}


.bg-color
 {
    width: 100%;
    height: 100%;
}


/*--------------------------------------
# 2.0 left-block style start here
----------------------------------------*/
 
.rocket-block {
	text-align:center;
	padding: 0px 40px 0;
}
.rocket-block img {
	margin-top: 15px;
	margin-bottom: 15px;
}
.rocket-block .img-thumbnail {
	background:#fff;
}


#slots{display:inline-flex;overflow:hidden;}
.col-sm-4{padding-right:1em;padding-left:.1em}
#contract-link
{
background:white;
font-size: 1.3em;
font-family: monospace;
color: navy;
}
#extra
{
background: rgba(10, 10, 10, 0.51);
width: 19%;
border: 1px solid black;
text-align: center;
margin: auto;
}	
.intro{background-color:rgba(10, 10, 10, 0.51)}
#prow{padding-top:2em}
.table{color:antiquewhite}
.table .thread{color:bisque}
#transactions > a {color:lightblue}
/*--------------------------------------
# 3.0  Right-block style start here
----------------------------------------*/

.right-block {
	 background: #f8faeb;
}
.contact-block {
	text-align: center;
	padding: 0px 40px;
}
.contact-block h2 {
	color: #3a3a3a;
	margin-bottom: 70px;
	text-transform: inherit;
}
.contact-block .para {
	margin-bottom: 70px;
}
.contact-block .para span {
	font-weight: bold;
	color: #1b727b;
}


/*--------------------------------------
# - 3.1 Countdown section style start here
----------------------------------------*/

.timing {
	margin-top: 30px;
}
.time_circles > div > h4 {
	color: #fff;
}
.time_circles > div > span {
	color: #fff;
}
/*----------------------------------------
# - 3.2 contact section style
------------------------------------------
*/ 
.contact-block .label {
	display: inline-block;
	color: #3a3a3a;
	margin-bottom: 25px;
	font-size: 16px;
}
.contact-block form {
	margin-bottom: 75px;
}
.content .form-control,
.contact-block .form-control {
	width: 95%;
	height: 42px;
	padding: 10px 12px;
	border-radius: 4px;
}
.contact-block .form-control:focus {
	border-color: #417378;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(65, 115, 120, .6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(65, 115, 120, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(65, 115, 120, .6);
}


.contact-block .input-group-btn {
	border-radius: 4px;
}

.form-control::-moz-placeholder {
  color: #3a3a3a;
  opacity: 1;
  font-size: 16px;
  line-height: 1;
}
.form-control:-ms-input-placeholder {
  color: #3a3a3a;
  font-size: 16px;
  line-height: 1;
}
.form-control::-webkit-input-placeholder {
  color: #3a3a3a;
  font-size: 16px;
  line-height: 1;
}

.sun .btn-sand,
.contact-block .btn-sand {
	color: #fff;
	padding: 10px 20px;
}
.contact-block .btn-sand {
	background: #417378;	
}
.contact-block .btn-sand:hover {
    background: #416467;
    color: #fff;
}
.sun .input-group-btn:last-child>.btn-sand,
.sun .input-group .form-control:first-child,
.contact-block .input-group-btn:last-child>.btn-sand,
.contact-block .input-group .form-control:first-child {
	border-radius: 4px;
}


.content .alert-success {

	background-color: transparent;
	color: #ffffff;
	display: none;
}
.content .alert-warning {
	background-color: transparent;
	color: #ffffff;
	display: none;
} 
 
.followus {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
	color: #fff;
	margin:0 0 45px;
}

/*---------------------------------------------------
# - 3.3        social-icon style
-----------------------------------------------------*/

.social-icon {
	list-style: none;
	padding:0;
}
.social-icon li {
    display: inline-block;
    margin: 0 5px;
    font-size: 42px;
}
.social-icon li a{
    color: #53544f;	
}
.social-icon li a:hover {
	color: #2D2D2A;
}


/*
------------------------------------------------------
# 4.0          layout style
------------------------------------------------------
*/

.sun-content {
	text-align:center;
	background: #363636;
}
.sun h1 {
	font-size: 36px;
	margin-bottom: 48px;
}	
.sun h2 {
	margin-bottom:70px
}
.sun .timing {
	margin-top:0;
	margin-bottom: 65px;
}
.sun .form-control {
	background: #363636;
}
.sun .form-control:focus {
	color: #fff;
	border-color: #363636;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 255, 255, .6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 255, 255, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 255, 255, .6);
}
.sun .btn-sand {
	color: #232323;
	background: #ffd57a;
	border-color: #ffd57a;
	font-weight: bold;
}
.sun .btn-sand:hover {
	background:#F7B72D;
	border-color:#F7B72D; 
}
.sun .btn-sand:focus {
	border-color:#F7B72D;
	outline: none;
}
.sun .form-control::-moz-placeholder {
  color: #ececec;
}
.sun .form-control:-ms-input-placeholder {
  color: #ececec;
}
.sun .form-control::-webkit-input-placeholder {
  color: #ececec;
}
.sun ul.social-icon li a {
	color: #fff;
}


.top-menu {
	top:5px;
}
.mid-menu {
	top: 15px;
}
.bottom-menu {
	top: 25px;
}
.top-animate {
  top: 16px !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
} 
.mid-animate { opacity: 0;} 
.bottom-animate {
  top: 16px !important;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}
section ul,
section ul li {
	list-style:none;
	margin:0;
	padding:0;
	font-size:30px;
	text-transform:capitalize;
}
nav {
	text-align:center;
	background: rgba(255,255,255,.9);
	position:fixed;
	top:0px;
	left:0px;
	right: 0px;
	bottom: 0px;
	display:none;
	z-index: 300;
}
nav section {
	margin-top: 15%;
}


.circle {
  display: inline-block;
  text-align: center;
  width: 5em;
  height: 4.5em;
  border-radius: 50%;
  border: 2px solid #1d2087;
}
.btn-sand {font-size:2em;}
.circle::before,
.circle::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.circle,
.circle::before,
.circle::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.circle {
  position: relative;
  z-index: 2;
  background-color: rgb(255, 197, 37);
  border: 2px solid #d92929;
  color: #5c5eae;
  line-height: 50px;
  overflow: hidden;
}

.circle:hover {
  color: #bc6d16;
}
.circle::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: scale(.5);
  transform: scale(.5);
}
.circle:hover::after {
  background: #bc6d16;
  border-radius: 50%;
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.circle1 {
  opacity: 0.8;
}

.circle2 {
  opacity: 0.8;
}

.circle3 {
  opacity: 0.8;
}

.circle a {
  text-decoration: none;
  color: #1d2087;
}

.circle h2 {
  position:relative;
  font-size: 4em !important;
  color: black !important;
}

.circle h2 small {
  color: black !important;
}

.circle p {
  font-size: 24px;
  line-height: 26px;
}
/* The animation code */
@keyframes roll_up {
    from {top: 1em;}
    to {top: -1em;}
}

.roll_up
	{
	-webkit-animation:roll_up 0.33s ease-in-out infinite;
	}
